	<div class="foot">
		<div class="footer">
			<div class="f1">
				<img src="/img/logo2.png">
				<div class="fp">
					<span class="fp1">Số điện thoại :</span>
					<span class="fp2">0965596525</span>
				</div>
				<div class="fp">
					<span class="fp1">Hotline :</span>
					<span class="fp2">1900111</span>
				</div>
				<div class="fp">
					<span class="fp1">Email :</span>
					<span class="fp2">nghia25epu@gmail.com</span>
				</div>
				<div class="fp">
					<span class="fp1">Mã số doanh nghiệp :</span>
					<span class="fp2">05252000</span>
				</div>
				<div class="fp">
					<span class="fp1">Ngày cấp :</span>
					<span class="fp2">25 tháng 05 năm 2000</span>
				</div>
				<div class="fp">
					<span class="fp1">Địa chỉ :</span>
					<div class="fp2">136 văn quán ,Hà Đông ,Hà nộiggggggggggggggggggggggggg</div>
				</div>
			</div>
			<div class="f1">
				<div class="fp">
					<p class="fp3">VỀ MẮT VIỆT</p>
				</div>
				<div class="fp">
					<span class="fp1">Giới thiệu Mắt Việt</span>
				</div>
				<div class="fp">
					<span class="fp1">Tầm nhìn - Sứ mệnh</span>
				</div>
				<div class="fp">
					<span class="fp1">Tuyển dụng</span>
				</div>
				<div class="fp">
					<span class="fp1">Hệ thông cửa hàng</span>
				</div>
			</div>
			<div class="f1">
				<div class="fp">
					<p class="fp3">CHÍNH SÁCH VÀ DỊCH VỤ</p>
				</div>
				<div class="fp">
					<span class="fp1">Chính sách</span>
				</div>

				<div class="fp">
					<div class="fp2">Chính sách và Quy định chung</div>
				</div>
				<div class="fp">
					<div class="fp2">Quy định và Hình thức thanh toán</div>
				</div>
				<div class="fp">
					<div class="fp2">Chính sách Vận Chuyển và Giao Nhận</div>
				</div>
				<div class="fp">
					<div class="fp2">Chính sách bảo hành</div>
				</div>
				<div class="fp">
					<div class="fp2">Chính sách đổi trả và hoàn tiền</div>
				</div>
				<div class="fp">
					<div class="fp2">Chính sách bảo vệ thông tin cá nhân của người tiêu dùng</div>
				</div>
				<div class="fp">
					<span class="fp1">ĐO KHÁM MẮT</span>
				</div>
				<div class="fp">
					<span class="fp2">Đăng ký lịch</span>
					<span class="fp2">Tìm cửa hàng</span>
				</div>
				<div class="fp">
					<span class="fp1">THƯƠNG HIỆU</span>
				</div>
				<div class="fp">
					<span class="fp2">rayban</span>
					<span class="fp2">oakley</span>
					<span class="fp2">bolon</span>
					<span class="fp2">burberry</span>
				</div>
			</div>
			<div class="f1">
				<div class="fp">
					<p class="fp3">THỜI GIAN LÀM VIỆC</p>
				</div>
				<div class="fp">
					<div class="fp1">Tất cả các ngày trong tuần trên toàn hệ thống của hàng Mắt Việt. ( chi tiết thời gian mở của của các cửa hàng: tại đây)
					Sala Mắt Việt</div>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.518822245406!2d106.72132451465515!3d10.771518492324843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3c1e34cd0f%3A0xa7c8e2336921a487!2zTeG6r3QgVmnhu4d0!5e0!3m2!1svi!2s!4v1570947271605!5m2!1svi!2s" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>