<!DOCTYPE html>
<html>
<head>
	<title>Đăng nhập</title>
	<link rel="stylesheet" type="text/css" href="/css/dangky.css">
	<style>
		body{
		margin: 0px;
		font-family: sans-serif;
		background-image: url('/img/layer3.jpg');
		background-size: cover;
		height: 100vh;
		}
	</style>
</head>
<body>
	<form method="POST" action="/dangky/taotaikhoan">
		<div class="bao"><div class="logo1"><img class="logo-img" src="/img/logo.png"></div></div>
		<h2>Đăng Nhập</h2>
		{{#if error}}
			<div style="text-align: center;" class="dangky1">{{error}}</div>
		{{/if}}
		<input id="id-value1" class="f-input" type="text" placeholder="Username" value="Tài khoản" name="user">
		<input id="id-value2" class="f-input" type="text" placeholder="Password" value="Giahuyoptic" name="passWord">
        <input id="id-value3" class="f-input" type="text" placeholder="nghia" value="Họ Tên..." name="hoten">
        <input id="id-value4" class="f-input" type="text" placeholder="thai binh" value="Địa chỉ..." name="diachi">
        <input id="id-value5" class="f-input" type="text" placeholder="0123455678" value="Số điện thoai..." name="sodienthoai">
		<button id="id-dangnhap" class="btn-dangnhap" type="submit">Đăng ký</button>	
	</form>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#id-click1').click(()=>{
				$('#id-click1').hide();
				$('#id-click2').show();
				$('#id-switch').css("background-color","#ecdd55e8");
			})
			$('#id-click2').click(()=>{
				$('#id-click2').hide();
				$('#id-click1').show();
				$('#id-switch').css("background-color","#c6c6c6");
			})
			$('#id-value1').click(()=>{
				$('#id-value1').attr("value","");
			})
			$('#id-value2').click(()=>{
				$('#id-value2').attr("value","");
			})
            $('#id-value3').click(()=>{
				$('#id-value3').attr("value","");
			})
			$('#id-value4').click(()=>{
				$('#id-value4').attr("value","");
			})
            $('#id-value5').click(()=>{
				$('#id-value5').attr("value","");
			})
		})
	</script>
</body>
</html>