<!DOCTYPE html>
<html>
<head>
	<title>do mat</title>
	<link rel="shortcut icon" href="img/logo.png">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="css/logo.css">
	<link rel="stylesheet" type="text/css" href="css/domat.css">
</head>
<body>

	<div class="content">
		<div class="ct1">
			<img src="img/domat.jpg">
			<div class="fr">
				<p class="ctp1">30 NĂM CHĂM SÓC THỊ LỰC CHO CÁC THẾ HỆ GIA ĐÌNH VIỆT NAM</p>
				<p>Mắt Việt tự hào là điểm đến tin cậy cho các khách hàng có yêu cầu cao về dịch vụ đo khám thị lực cũng như các sản phẩm kính mắt tối tân theo tiêu chuẩn quốc tế. Chúng tôi sẽ giúp bạn chăm sóc tốt nhất cho đôi mắt của bản thân và gia đình thương yêu của mình.</p>
				<button>Đăng ký đo mắt miễn phí</button>
			</div>
		</div>
		<div class="ct2">
			<span class="ct2p1">ĐÃ ĐẾN LÚC BẠN CẦN ĐI ĐO MẮT</span>
			<div class="tt">
				<div class="tt1">
					<div class="tt1l">
						NẾU BẠN GẶP PHẢI CÁC TRIỆU CHỨNG THỊ GIÁC NHƯ
					</div>
					<div class="tt1r">NẾU BẠN CHƯA ĐO MẮT TẠI CƠ SỞ ĐO MẮT CHUYÊN NGHIỆP TRONG VÒNG</div>
				</div>
				<div class="tt2">
					<div class="tt2l">
						<img src="img/f1.png">
						<img src="img/f2.png">
						<img src="img/f3.png">
						<img src="img/f4.png">
						<img src="img/f5.png">
					</div>	
					<div class="tt2r">
						<img src="img/f7.png">
						<img src="img/f7.png">
					</div>
				</div>
			</div>
		</div>
		<div class="ct3">
			<span>Hẹn lịch đo mắt miễn phí với kỹ thuật viên khúc xạ ngay</span>
			<button>Đăng ký ngay</button>
		</div>
		<p class="ct3p1">TẠI MẮT VIỆT, BẠN CÓ THỂ YÊN TÂM VÌ ĐÃ LỰA CHỌN DỊCH VỤ ĐO MẮT HÀNG ĐẦU</p>
		<div class="ct4">
			<img src="img/q1.jpg">
			<div class="ct4r">
				<p>QUY TRÌNH ĐO MẮT VÀ TƯ VẤN THỊ LỰC 12 BƯỚC TIÊU CHUẨN QUỐC TẾ</p>
				<span class="spp1">
					<img src="img/ts1.png">
					<p class="pts">Lấy tiền sử bệnh án</p>
				</span>
			</div>
		</div>
		<div class="ct4">
			<div class="ct4r">
				<p>QĐỘI NGŨ KỸ THUẬT VIÊN KHÚC XẠ CHUYÊN NGHIỆP</p>
				<span class="spp1">
					
					<p class="pts">Tất cả kỹ thuật viên khúc xạ tại Mắt Việt đều được đào tạo bài bản bởi các chuyên gia nước ngoài và chứng nhận bởi Essilor Vision Academy, là trung tâm nghiên cứu và phát triển giải pháp thị lực hàng đầu khu vực châu Á.</p>
				</span>
			</div>
			<img src="img/q2.jpg">
		</div>
		<div class="ct4">
			<img src="img/q3.png">
			<div class="ct4r">
				<p>QUY TRÌNH ĐO MẮT VÀ TƯ VẤN THỊ LỰC 12 BƯỚC TIÊU CHUẨN QUỐC TẾ</p>
				<span class="spp1">
					
					<p class="pts">TRANG THIẾT BỊ ĐO MẮT HIỆN ĐẠI
HÀNG ĐẦU TỪ CHÂU ÂU
Tất cả hệ thống máy móc, trang thiết bị kĩ thuật tại Mắt Việt đều được nhập khẩu chính hãng từ các nhà sản xuất lớn trên thế giới như Tập đoàn Essilor, mang công nghệ và tiêu chuẩn hiện đại bậc nhất hiện nay đến khách hàng.</p>
				</span>
			</div>
		</div>


	</div>



</body>
</html>