<!DOCTYPE html>
<html>
<head>
	<title>Giới thiệu</title>
	<link rel="stylesheet" type="text/css" href="css/logo.css">
	<link rel="shortcut icon" href="img/logo.png">
	<link rel="stylesheet" type="text/css" href="css/gioithieu.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/logo.js"></script>
</head>
<body>   
	{{!-- <div id="id-sale" class="sale">
		<img src="img/j1-6.jpg">
		<div class="gia-sale">giá chỉ 599K</div>
		<div id="id-close" class="close">
			<img src="img/close.png">
		</div>
	</div> --}}



	<div class="container">
		
		<div class="content">
			<div class="ct1">
				<img src="img/gt1.jpg">
				<p class="p1">MẮT VIỆT KỶ NIỆM 30 NĂM ĐỒNG HÀNH CÙNG CHĂM SÓC THỊ LỰC CÁC GIA ĐÌNH VIỆT NAM</p>
				<div class="gn"></div>
				<p class="p2">Khởi đầu là một địa chỉ mua kính mắt uy tín vào năm 1989, Mắt [...]</p>
				<div class="date">05 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/ct2.jpg">
				<p class="p1">Tiết lộ thông tin về “tật khúc xạ”</p>
				<div class="gn"></div>
				<p class="p2">Tiết lộ thông tin về tật khúc xạ sẽ giúp ích rất nhiều cho mọi [...]</p>
				<div class="date">04 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/ct3.jpg">
				<p class="p1">Mẹo giữ mắt tỉnh táo mỗi sáng thức giấc</p>
				<div class="gn"></div>
				<p class="p2">Các chuyên gia luôn khuyên chúng ta nên “ngủ sớm, dậy sớm” để có sức [...]</p>
				<div class="date">05 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/ct5.png">
				<p class="p1">Tuổi trung niên cần làm gì để mắt luôn sáng khỏe</p>
				<div class="gn"></div>
				<p class="p2">Bước vào tuổi 30 trở đi, hầu như ai cũng ý thức được là cơ [...]</p>
				<div class="date">04 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/ct6.jpg">
				<p class="p1">Thói quen tai hại làm tăng độ cận</p>
				<div class="gn"></div>
				<p class="p2">So vơi các tật khúc xạ như cận – viễn – loạn thị thì cận [...]</p>
				<div class="date">05 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/ct7.jpg">
				<p class="p1">Sự thật về kính áp tròng ít người biết</p>
				<div class="gn"></div>
				<p class="p2">Kính áp tròng không xa lạ gì, đặc biệt với phái đẹp. Đeo kính vừa [...]</p>
				<div class="date">05 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/ct8.jpg">
				<p class="p1">Tư vấn cách chăm sóc mắt cho trẻ</p>
				<div class="gn"></div>
				<p class="p2">Chăm sóc đôi mắt cho trẻ tốt ngay từ nhỏ sẽ tạo hành trang vững [...]</p>
				<div class="date">05 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/ct9.jpg">
				<p class="p1">Mẹo chọn kính chống tia UV tốt</p>
				<div class="gn"></div>
				<p class="p2">Mẹo chọn kính chống tia UV tốt: Kính mát phải đảm bảo tiêu chí: bảo [...]</p>
				<div class="date">05 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/ct4.jpg">
				<p class="p1">MẮT VIỆT KỶ NIỆM 30 NĂM ĐỒNG HÀNH CÙNG CHĂM SÓC THỊ LỰC CÁC GIA ĐÌNH VIỆT NAM</p>
				<div class="gn"></div>
				<p class="p2">Khởi đầu là một địa chỉ mua kính mắt uy tín vào năm 1989, Mắt [...]</p>
				<div class="date">05 Th9</div>
			</div>
			<div class="ct1">
				<img src="img/gt1.jpg">
				<p class="p1">MẮT VIỆT KỶ NIỆM 30 NĂM ĐỒNG HÀNH CÙNG CHĂM SÓC THỊ LỰC CÁC GIA ĐÌNH VIỆT NAM</p>
				<div class="gn"></div>
				<p class="p2">Khởi đầu là một địa chỉ mua kính mắt uy tín vào năm 1989, Mắt [...]</p>
				<div class="date">05 Th9</div>
			</div>
			<div class="chuyentrang">
				<div class="n1">1</div>
				<div class="n1">2</div>
				<div class="n1">3</div>
				<div class="n1">4</div>
				<div class="n1">></div>
			</div>
			<div class="mn">
				<ul>CÁC CHUYÊN MỤC
					<li>Chăm sóc mắt</li>
					<li>Chương Trình Ưu Đãi</li>
					<li>Giải pháp thị lực</li>
					<li>Hình Ảnh Hệ Thống Cửa Hàng</li>
					<li>Những tình trạng của mắt</li>
					<li>Thương hiệu Tròng Kính</li>
					<li>Tìm Hiểu Về Thị Lực</li>
					<li>Tin Tức Cập Nhật</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>