{{!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
    <style>
        form{
            width: 1200px;
            margin: 10px auto;
        }
    </style>
</head>
<body>
    <form  method="POST" action="/sanpham">
    <div class="form-group">
    <label for="imagePath">imagePath</label>
    <input class="form-control" id="imagePath" placeholder="imagePath" name="imagePath">
    </div>
  <div class="form-group">
    <label for="imageHover">imageHover</label>
    <input  class="form-control" id="imageHover" placeholder="imageHover" name="imageHover">
  </div>
    <div class="form-group">
    <label for="nameOptic">nameOptic</label>
    <input class="form-control" id="nameOptic" placeholder="nameOptic" name="nameOptic">
    </div>
    <div class="form-group">
    <label for="price">price</label>
    <input class="form-control" id="price" placeholder="price" name="price">
    </div>
    <div class="form-group">
    <label for="description">description</label>
    <input class="form-control" id="description" placeholder="description" name="description">
    </div>
    <div class="form-group">
    <label for="tradeMark">tradeMark</label>
    <input class="form-control" id="tradeMark" placeholder="tradeMark" name="tradeMark">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>


 --}}
