<!DOCTYPE html>
<html>
<head>
	<title>Thanh toán</title>
	<link rel="shortcut icon" href="img/logo.png">
	<link rel="stylesheet" type="text/css" href="css/logo.css">
	<link rel="stylesheet" type="text/css" href="css/thanhtoan.css">
</head>
<body>
	<div class="content">
		<h2>QUY ĐỊNH VÀ PHƯƠNG THỨC THANH TOÁN</h2>
		<p class="tt1">1. PHƯƠNG THỨC THANH TOÁN TRỰC TIẾP</p>
		<p class="tt2">Thanh toán bằng tiền mặt: Ngay khi nhận sản phẩm, khách hàng sẽ thanh toán bằng tiền mặt cho nhân viên Mắt Việt</p>
		<p class="tt2">Thanh toán bằng máy POS: Khách hàng có nhu cầu thanh toán bằng máy POS vui lòng thông báo với nhân viên bán hàng của Mắt Việt khi đặt hàng, để nhân viên giao nhận mang máy POS đến tận nhà.</p>
		<p class="tt2">Lưu ý: Riêng các loại thẻ của ngân hàng Vietinbank và Sacombank khách hàng vui lòng đến Trung tâm sử dụng máy POS để thanh toán.</p>
		<p class="tt1">2. PHƯƠNG THỨC THANH TOÁN CHUYỂN KHOẢN</p>
		<p class="tt2">Khách hàng sẽ chuyển khoản chính xác số tiền cần thanh toán cho đơn hàng theo thông tin dưới đây:</p>
		<p class="tt2">- Tên chủ tài khoản:</p>
		<p class="tt2">- Số tài khoản:</p>
		<p class="tt2">- Tại:</p>
		<p class="tt2">- Địa chỉ:</p>
		<p class="tt2">Nội dung: Mua online [Tên sản phẩm] [Tên khách hàng] [Ngày mua]</p>
		<p class="tt2">Sau khi nhận được số tiền chính xác thanh toán cho đơn hàng, nhân viên bán hàng sẽ gọi điện thoại thông báo đơn hàng thành công và giao hàng cho khách.</p>
		<p class="tt1">3. PHƯƠNG THỨC THANH TOÁN QUA ĐƯỜNG BƯU ĐIỆN</p>
		<p class="tt2">Quý khách có thể đến bưu điện và sử dụng dịch vụ “Chuyển tiền nhanh” theo những thông tin sau:</p>
		<p class="tt2">- Người nhận:</p>
		<p class="tt2">- Địa chỉ:</p>
		<p class="tt2">- Bộ phận Online – phòng Kinh doanh tiếp thị.</p>
		<p class="tt2">- Nội dung: Mua online [Tên sản phẩm] [Tên khách hàng] [Ngày mua]</p>
		<p class="tt2">Khi nhận được giấy báo nhận tiền từ ngân hàng hoặc từ bưu điện, Mắt Việt sẽ tiến hành giao hàng ngay cho Quý khách, đảm bảo đúng số lượng và chất lượng.</p>
		<p class="tt1">4. PHƯƠNG THỨC THANH TOÁN TRỰC TUYẾN</p>
		<p class="tt2">Chúng tôi sẽ cập nhật thông tin phương thức thanh toán này trong thời gian sớm nhất.</p>
	</div>


</body>
</html>