<!DOCTYPE html>
<html>
<head>
	<title>Thương hiệu</title>
	<link rel="shortcut icon" href="img/logo.png">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="css/logo.css">
	<link rel="stylesheet" type="text/css" href="css/thuonghieu.css">
	<script type="text/javascript" src="js/thuonghieu.js"></script>
</head>
<body>
	<div class="content">
		<div class="slide">
			<div id="vitri" class="vitri">
				<img src="img/th1.jpg">
				<img src="img/th2.jpg">
				<img src="img/th3.jpg">
			</div>	
		</div>
		<div id="left" class="next left">
			<img src="img/nextleft.png">
		</div>
		<div id="right" class="next right">
			<img src="img/nextright.png">
		</div>
	</div>
	<div class="thuonghieu">
		<div class="all">
			<span>Tất cả</span>
			<span>Nam</span>
			<span>Nữ</span>
			<span>Trẻ em</span>
		</div>

		<ul>
			<li>Ray Ban</li>
			<li>Oakley</li>
			<li>Gucci</li>
			<li>Burberry</li>
			<li>Bolon</li>
			<li>Prada</li>
			<li>Miu Miu</li>
			<li>Bvlgari</li>
		</ul>
		<ul>
			<li>Versace</li>
			<li>Dolce & Gabbana</li>
			<li>Emporio Armani</li>
			<li>Giorgio Ferri</li>
			<li>Reebok</li>
			<li>Coach</li>
			<li>Giorgio Armani</li>
			<li>Vogue</li>
		</ul>
		<ul>
			<li>Molsion</li>
			<li>Armani Exchange</li>
			<li>Puma</li>
			<li>Flyer</li>
			<li>Tiffany & Co</li>
			<li>Hang Ten</li>
			<li>Michael Kors</li>
			<li>Ancci</li>
		</ul>
		<ul>
			<li>Prada Linea Rossa</li>
			<li>Guy Laroche</li>
			<li>Revlon</li>
		</ul>
	</div>



</body>
</html>