<!DOCTYPE html>
<html>
<head>
	<title>tròng kính</title>
	<link rel="shortcut icon" href="img/logo.png">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="css/logo.css">
	<link rel="stylesheet" type="text/css" href="css/trongkinh.css">
	<script type="text/javascript" src="css/logo.js"></script>
</head>
<body>

	<div class="t-img">
			<img src="img/k8.jpg">
			<p>THƯƠNG HIỆU TRÒNG KÍNH</p>
	</div>
	<div class="nhan">
			<div class="nh">
				<p class="p1">CRIZAL® – NHÃN HIỆU KÍNH CHỐNG PHẢN QUANG SỐ 1 THẾ GIỚI</p>
				<img src="img/trongkinh2.png">
				<p class="p1">GIỚI THIỆU THƯƠNG HIỆU</p>
				<p class="p2">Crizal® khởi đầu từ năm 1992, trải qua 26 năm, Crizal® ngày nay đã đạt được nhiều cột mốc đột phá lớn, trở thành thương hiệu được mệnh danh là “tất cả trong một”: Một tròng kính duy nhất với khả năng đem lại tầm nhìn hoàn hảo và bảo vệ mắt tốt nhất khỏi các tác nhân gây hại từ bên ngoài.</p>
				<div class="nh1">
					<img class="nh1-img" src="img/trong1.png">
					<img class="nh1-img" src="img/trong2.png">
					<img class="nh1-img" src="img/trong3.png">
					<img class="nh1-img" src="img/trong4.png">
				</div>
				<div class="congdung">
					<p>CÔNG DỤNG CỦA CRIZAL</p>
					<img src="img/t1.png">
					<img src="img/t2.png">
					<img src="img/t3.png">
					<img src="img/t4.png">
					<img src="img/t5.png">
					<img src="img/t6.png">
				</div>
				<div class="bv">
					<p>BẢO VỆ THỊ LỰC TOÀN DIỆN VỚI 7 LỚP PHỦ CỦA TRÒNG KÍNH CRIZAL:</p>
					<ul>
						<li><b>Chống chói</b>: Hạn chế sự chói sáng gây ra bởi các nguồn sáng xung quanh từ cả mặt trước và sau kính vào mắt</li>
						<li><b>Chống trầy xước</b>: Giúp tròng kính hạn chế trầy xước, cho tầm nhìn luôn trong suốt và rõ nét</li>
						<li><b>Chống vân tay</b>: Hạn chế tối đa các vết dầu, vết nước và vân tay bám lại lên tròng kính, và có thể lau sạch một cách dễ dàng</li>
						<li><b>Chống bụi</b>: Hạn chế bụi bẩn bám lên mặt kính</li>
						<li><b>Chống bám nước</b>: Không cần phải lo lắng về những hạt nước mưa bám trên tròng kính nữa</li>
						<li><b>Chống tia UV</b>: Ngăn tia UV từ cả mặt trước và từ mặt sau kính phản chiếu vào mắt</li>
						<li><b>Lọc ánh sáng xanh có hại</b>: Lọc các tia sáng xanh có hại gây ra bệnh thoái hóa hoàng điểm tuổi già – nguyên nhân gây mù hàng đầu ở người già hiện nay</li>
					</ul>
				</div>
				<div class="dsp">
					<p>CÁC DÒNG SẢN PHẨM</p>
					<img src="img/c1.jpg">
					<img src="img/c2.png">
					<img src="img/c3.png">
					<img src="img/c4.png">

				</div>
				<img class="img1" src="img/c5.png">

			</div>
			<div class="mn">
				<ul>CÁC CHUYÊN MỤC
					<li>Chăm sóc mắt</li>
					<li>Chương Trình Ưu Đãi</li>
					<li>Giải pháp thị lực</li>
					<li>Hình Ảnh Hệ Thống Cửa Hàng</li>
					<li>Những tình trạng của mắt</li>
					<li>Thương hiệu Tròng Kính</li>
					<li>Tìm Hiểu Về Thị Lực</li>
					<li>Tin Tức Cập Nhật</li>
				</ul>
				<ul>THƯƠNG HIỆU TRÒNG KÍNH
					<li>Tròng kính Crizal Sapphire</li>
					<li>TRÒNG KÍNH VARILUX</li>
					<li>KÍNH ĐỔI MÀU TRANSITIONS</li>
					<li>KÍNH ĐA TRÒNG ESSILOR</li>
					<li>TRÒNG KÍNH CRIZAL</li>
					
				</ul>
			</div>
	</div>
</body>
</html>